<%= render "devise/shared/navbar" %>
<br>
<div class="container">
  <div>
    <%= simple_form_for @user, url: profiles_path, method: :post do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :phone_number %>
      <%= f.submit 'Edit profile', class: 'btn btn-warning' %>
    <% end %>
  </div>
</div>