<%= render "devise/shared/navbar" %>
<div class="container">
  
    
      
    <div class="main-container">
    
      <div class='cards'>
        <% @products.each do |beer| %>
          <div class='card product-card'>
            <h4><%= link_to beer.name, product_path(beer), class: 'beer-name' %></h4>
            <%= cl_image_tag beer.photo.key, height: 100, width: 100, crop: :fill if beer.photo.attached? %>
            <h6 class='price'>$<%= beer.price %></h6>
          </div>
        <% end %>
      </div>
      <br>
    
    
      <div class='map-container'>
        <div id="map"
          style="width: 80%; height: 400px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    
    </div>
  
</div>