  <%= render "devise/shared/navbar" %>

<div class='container mt-5 mb-4 p-5'>
  <h2 class="beer-show-name"><%= @product.name %></h2>
  <br>
  
  <div class="card-product">
    <%= cl_image_tag @product.photo.key, class: "show-pic", height: 370, width: 300, crop: :fill if @product.photo.attached? %>
    <div class="card-product-infos">
      <h2><%= @product.description %></h2>
      <p>Quisque lacinia magna semper, hendrerit orci a, vulputate nulla. 
      Nullam viverra elementum lacus, ut sodales tortor sodales quis. 
      Integer nunc augue, molestie faucibus urna vitae, aliquet vehicula nibh. 
      Morbi vel tellus et eros blandit posuere. Phasellus euismod bibendum augue eget pretium.</p>
      <br>

      <h2><%= @product.quantity %> units, $<%= @product.price %> each</h2>
    </div>
  </div>



  <div class="d-flex flex-row">
    <div class="show-btn">
      <% if @product.quantity > 0  %>
        <%= simple_form_for [ @product, @purchase ] do |f| %>
        <div class="form-inputs fields">
          <%= number_field_tag :quantity, nil, class: "form-control" %>
        </div>
          <div class="buy-button">
            <%= f.button :submit, 'Buy this marvelous beer', class: 'btn btn-warning' %>
          </div>
        <% end %>
    </div>
  </div>
    <% else %>
      <div class="alert alert-warning" role="alert">
      This product is sold-out!  
    <% end %>

</div>