  <div class='navbar-beer'>
  <h2 class='index-title'>Airbnbeer <i class="fas fa-beer"></i></h2>
</div>
<div class='container mt-4 mb-4'>
  <h2 class="beer-show-name"><%= @product.name %></h2>
  <br>
  
   <div class="details">
    <%= cl_image_tag @product.photo.key, class: "show-pic", height: 370, width: 300, crop: :fill if @product.photo.attached? %>
    <div class="details-text">
    <h4>Beer description:</h4>
    <h5><%= @product.description %></h5>
    <h4>Un<%= @product.quantity %> </h4>
    <h4>$<%= @product.price %> </h4>
    </div>
   </div>
   <div class="show-btn">
   <% if @product.quantity > 0  %>
    <%= link_to 'BUY this beer', product_purchase_index_path(product_id: @product.id), method: :post, class: 'btn btn-warning btn-buy' %>


  <div class="form-inputs fields">
  <%= f.input :quantity %>
  </div>
  <div class='btn-text-position'>
  <div class="form-actions btn btn-warning">
  <%= f.button :submit, class: 'btn-text' %>

    <br>

    <% else %>
      <div class="alert alert-warning" role="alert">
      This product is sold-out!
      </div>

    <% end %>

    <%= link_to '<< Back to beer list', products_path, class: "link-show" %>

   </div>
</div>