  <%= render "devise/shared/navbar" %>

<div class='container mt-4 mb-4'>
  <h2 class="beer-show-name"><%= @product.name %></h2>
  <br>
  
  <table class="table">
   <thead>
     <tr>
      <th> Description </th>
      <th> Quantity </th>
      <th> Price </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  
   <div class="details">
    <%= cl_image_tag @product.photo.key, class: "show-pic", height: 370, width: 300, crop: :fill if @product.photo.attached? %>
    <div class="details-text">

    <tbody>
    <th><h5><%= @product.description %></h5></th>
    <td><h4>Un<%= @product.quantity %> </h4></td>
    <td><h4>$<%= @product.price %> </h4></td>
     </tr>
      </tbody>
      </table>
    </div>
   </div>


  <div class="d-flex flex-row">
    <div class="show-btn">
      <% if @product.quantity > 0  %>
        <%= simple_form_for [ @product, @purchase ] do |f| %>
        <div class="form-inputs fields">
          <%= number_field_tag :quantity %>
        </div>
          <div>
            <%= f.button :submit, 'Buy', class: 'btn btn-warning' %>
          </div>
        <% end %>
    </div>
  </div>
    <% else %>
      <div class="alert alert-warning" role="alert">
      This product is sold-out!  
    <% end %>
</div>